body {background: rgb(129,34,195);
    background: linear-gradient(212deg, rgba(129,34,195,1) 19%, rgba(110,204,78,1) 61%, rgba(128,253,45,1) 98%);
    }
body {
        font-family: Arial, Helvetica, sans-serif;
        font-family: "Primary Font", "Backup Font",Courier, monospace ;
      }

body {
    color: aliceblue;
    }

div{
    text-align: center;
}

a:link {
    background-color:transparent;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    ;
   }
   /* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: rgba(110,204,78,1);
  }
  ul{
    display:inline-flex
    ;
  }

  html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

footer {
    background-color: rgba(129,34,195,1);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.playbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.savage:hover,
.savage img:hover,
.savage ul li a img:hover,
.savage ul li img:hover {
    position: relative;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 100ms;
    transition: 100ms;
transition: 100ms;
}

.travs:hover,
.travs img:hover,
.travs ul li a img:hover,
.travs ul li img:hover {
    position: relative;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 100ms;
    transition: 100ms;
transition: 100ms;
}

.drake:hover,
.drake img:hover,
.drake ul li a img:hover,
.drake ul li img:hover {
    position: relative;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 100ms;
    transition: 100ms;
transition: 100ms;
}