body {background: rgb(129,34,195);
  background: linear-gradient(212deg, rgba(129,34,195,1) 19%, rgba(110,204,78,1) 61%, rgba(128,253,45,1) 98%);
    }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Primary Font", "Backup Font",Courier, monospace ;
    }

body {
    color: black;
    }

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */ 
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: rgba(110,204,78,1);
  }
div{
  text-align: center;
}

 a:link {
  background-color:transparent;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  ;
 }

 ul{
  margin-left: 20px; /* add some space to the left of the list */
  padding-left: 20px; /* add some space to the left of the list item content */
  text-align: center;
  }

  div.gallery {
    display: flex;
    background-color: DodgerBlue;
    color: white;
    
  }
  

 div.gallery {
    background-color: black;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }
  ul{
    display:inline-flex
    ;
  }

  html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

footer {
    background-color:  rgba(129,34,195,1);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;     
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}